.favourite {
  padding: 32px;
  min-height: 100vh;
}
.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 16px;
  margin-top: 24px;
  .card {
    background-color: white;
    padding: 1.5rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .tag-list {
      display: flex;
      justify-content: flex-start;
      gap: 8px;
      background-color: white;
      border: none;
      margin: 0;
      padding: 0;
      flex-wrap: wrap;
      .tag {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4px;
        background-color: var(--c-titan-white);
        color: var(--c-indigo);
        font-weight: 600;
        padding: 8px 12px;
        line-height: 1;
        border-radius: 6px;
        cursor: pointer;
        font-size: 14px;
        .icon {
          color: indigo;
        }
      }
    }

    .title {
      font-size: 1.5rem;
      color: var(--c-void);
      margin: 0;
    }

    .info {
      flex-grow: 1;
      color: black;
      & + * {
        margin-top: 1.25rem;
      }
    }
    .bottom {
      width: 100%;
      display: flex;
      background-color: white;
      border: none;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      gap: 10px;

      .button {
        font: inherit;
        line-height: 1;
        background-color: var(--c-white);
        border: 2px solid var(--c-indigo);
        color: var(--c-indigo);
        padding: 0.5em 1em;
        border-radius: 6px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;
        margin: 0;
        height: 40px;
        &:hover {
          background-color: var(--c-indigo);
          color: white;
        }
        svg {
          height: 24px;
          width: 24px;
        }
      }

      .remove {
        background-color: #ed5e68;
        color: white;
        border: none;
        &:hover {
          color: #ed5e68;
          background-color: white;
          border: 1.5px solid #ed5e68;
        }
      }
    }
  }
}
