:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-weight: 400;

  --c-charcoal: #a0a0a0;
  --c-void: #141b22;

  --c-titan-white: #f1eeff;
  --c-indigo: #6558d3;

  --background-primary: #161616;
  --orange-primary: #c42f2f;
}

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*== start of code for tooltips ==*/
.tool {
  display: inline-block;
}
[hover-tooltip] {
  --caret-height: 4px;
  --caret-width: 6px;
  --distance: 10px;
  --tooltip-bg-color: #373737;
  position: relative;
  cursor: default;
}

[hover-tooltip]:hover::before {
  content: attr(hover-tooltip);
  font-size: 12px;
  text-align: center;
  position: absolute;
  display: block;
  left: 50%;
  min-width: 100px;
  max-width: 200px;
  bottom: calc(100% + var(--distance));
  transform: translate(-50%);
  animation: fade-in 300ms ease;
  background: var(--tooltip-bg-color);
  border-radius: 4px;
  padding: 10px;
  color: #ffffff;
  z-index: 1;
}

[hover-tooltip]:hover::after {
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  width: 0;
  height: 0;
  bottom: calc(100% + calc(var(--distance) - var(--caret-height)));
  margin-left: calc(- var(--caret-width) / 2);
  border: 1px solid black;
  border-color: var(--tooltip-bg-color) transparent transparent transparent;
  border-width: var(--caret-height) var(--caret-width) 0;
  animation: fade-in 300ms ease;
  z-index: 1;
}

[hover-tooltip][tooltip-position="bottom"]:hover::before {
  bottom: auto;
  top: calc(100% + var(--distance));
}

[hover-tooltip][tooltip-position="bottom"]:hover::after {
  bottom: auto;
  top: calc(100% + calc(var(--distance) - var(--caret-height)));
  border-color: transparent transparent var(--tooltip-bg-color);
  border-width: 0 var(--caret-width) var(--caret-height);
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 996px) {
  [hover-tooltip]:hover::before {
    transform: translate(-30%);
  }
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 50; /* Ensure it's above other content */
}

@media screen and (max-width: 940px) {
  .divider {
    display: none;
  }
}
